* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Big Shoulders Display', sans-serif;
}

:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --paragraphs: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
    --font-size: 15px;
}

body {
    background-color: var(--Very-light-gray);
}

.content {
    width: 800px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;


}

.contanier-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.contanier-cards div {
    padding: 35px;

}

.contanier-cards div:nth-of-type(1) {
    background-color: var(--Bright-orange);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.contanier-cards div:nth-of-type(2) {
    background-color: var(--Dark-cyan);
}

.contanier-cards div:nth-of-type(3) {
    background-color: var(--Very-dark-cyan);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1 {
    color: var(--Very-light-gray);
    margin: 20px 10px;
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    color: var(--paragraphs);
    font-size: var(--font-size);
    margin: 30px 0;
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.6;
    padding: 10px;
}

button {
    background-color: var(--Very-light-gray);
    font-size: var(--font-size);
    width: 120px;
    padding: 10px;
    border-radius: 30px;
    border-color: transparent;
    outline: transparent;
    margin: 50px 8px 10px;
    font-family: 'Lexend Deca', sans-serif;
    cursor: pointer;
    transition: 0.4s;
}

.btn1 {
    color: var(--Bright-orange);

    &:hover {
        border: 2px solid white;
        background-color: var(--Bright-orange);
        color: var(--Very-light-gray);

    }
}

.btn2 {
    color: var(--Dark-cyan);

    &:hover {
        border: 2px solid white;
        background-color: var(--Dark-cyan);
        color: var(--Very-light-gray);

    }
}

.btn3 {
    color: var(--Very-dark-cyan);

    &:hover {
        border: 2px solid white;
        background-color: var(--Very-dark-cyan);
        color: var(--Very-light-gray);

    }
}